In [2]:
import psycopg2
import pandas as pd

In [3]:
con = psycopg2.connect(database = 'crowdfunding_db',
                        user = 'postgres',
                        password ='postgres',
                        host= 'localhost',
                        port= '5432')

In [4]:
cursor_obj = con.cursor()
cursor_obj.execute('SELECT * FROM category')
result = cursor_obj.fetchall()
results = pd.DataFrame(result)



print(results)

      0             1
0  cat1          food
1  cat2         music
2  cat3    technology
3  cat4       theater
4  cat5  film & video
5  cat6    publishing
6  cat7         games
7  cat8   photography
8  cat9    journalism

In [5]:
cursor_obj = con.cursor()
cursor_obj.execute('SELECT * from subcategory')
result = cursor_obj.fetchall()
results = pd.DataFrame(result)



print(results)

           0                  1
0    subcat1        food trucks
1    subcat2               rock
2    subcat3                web
3    subcat4              plays
4    subcat5        documentary
5    subcat6     electric music
6    subcat7              drama
7    subcat8         indie rock
8    subcat9          wearables
9   subcat10         nonfiction
10  subcat11          animation
11  subcat12        video games
12  subcat13             shorts
13  subcat14            fiction
14  subcat15  photography books
15  subcat16   radio & podcasts
16  subcat17              metal
17  subcat18               jazz
18  subcat19       translations
19  subcat20         television
20  subcat21       mobile games
21  subcat22        world music
22  subcat23    science fiction
23  subcat24              audio

In [7]:
cursor_obj = con.cursor()
cursor_obj.execute('SELECT * from campaign')
result = cursor_obj.fetchall()
results = pd.DataFrame(result)



print(results)

       0     1                             2   \
0     147  4661    Baldwin, Riley and Jackson
1    1621  3765                      Odom Inc
2    1812  4187    Melton, Robinson and Fritz
3    2156  4941   Mcdonald, Gonzalez and Ross
4    1365  2199                 Larson-Little
..    ...   ...                           ...
995  2986  3684              Manning-Hamilton
996  2031  5784                    Butler LLC
997  1627  1498                      Ball LLC
998  2175  6073   Taylor, Santiago and Flores
999  1788  4939  Hernandez, Norton and Kelley

                                                3       4       5   \
0             Pre-emptive tertiary standardization     100       0
1                 Managed bottom-line architecture    1400   14560
2     Function-based leadingedge pricing structure  108400  142523
3    Vision-oriented fresh-thinking conglomeration    4200    2477
4                        Proactive foreground core    7600    5265
..                                             ...     ...     ...
995            Vision-oriented scalable definition   97300  153216
996       Future-proofed upward-trending migration    6600    4814
997              Right-sized full-range throughput    7600    4603
998           Polarized composite customer loyalty   66600   37823
999                    Expanded eco-centric policy  111100   62819

             6     7   8    9           10          11    12       13
0        failed     0  CA  CAD  2020-02-13  2021-03-01  cat1  subcat1
1    successful   158  US  USD  2021-01-25  2021-05-25  cat2  subcat2
2    successful  1425  AU  AUD  2020-12-17  2021-12-30  cat3  subcat3
3        failed    24  US  USD  2021-10-21  2022-01-17  cat2  subcat2
4        failed    53  US  USD  2020-12-21  2021-08-23  cat4  subcat4
..          ...   ...  ..  ...         ...         ...   ...      ...
995  successful  2043  US  USD  2020-12-29  2021-05-30  cat1  subcat1
996      failed   112  US  USD  2021-10-15  2021-11-30  cat4  subcat4
997    canceled   139  IT  EUR  2021-11-06  2021-12-10  cat4  subcat4
998      failed   374  US  USD  2020-10-08  2021-04-11  cat2  subcat8
999    canceled  1122  US  USD  2020-12-30  2021-08-18  cat1  subcat1

[1000 rows x 14 columns]

In [6]:
cursor_obj = con.cursor()
cursor_obj.execute('SELECT * from contacts')
result = cursor_obj.fetchall()
results = pd.DataFrame(result)



print(results)

        0             1           2                                          3
0    4661       Cecilia     Velasco               cecilia.velasco@rodrigues.fr
1    3765       Mariana       Ellis                    mariana.ellis@rossi.org
2    4187         Sofie       Woods                    sofie.woods@riviere.com
3    4941      Jeanette    Iannotti                jeanette.iannotti@yahoo.com
4    2199        Samuel     Sorgatz                   samuel.sorgatz@gmail.com
..    ...           ...         ...                                        ...
995  3684       Whitney       Noack             whitney.noack@laboratorios.org
996  5784     Gelsomina  Migliaccio              gelsomina.migliaccio@junk.com
997  1498   Evangelista     Pereira  evangelista.pereira@thompson-peterson.biz
998  6073        Gareth     Comolli                  gareth.comolli@tiscali.fr
999  4939  Michelangelo        Hess              michelangelo.hess@bouygtel.fr

[1000 rows x 4 columns]